<div class="login-box" [ngClass]="{'login-box-active': isCollapse}">
  <h2>Unesite novu predstavu</h2>
  <form [formGroup]="repositoryForm" (ngSubmit)="addRepository()">
    <div class="user-box">
      <input formControlName="title" type="text" />
      <label>Naziv</label>
    </div>
    <div class="user-box">
      <input formControlName="duration" type="text" />
      <label>Trajanje</label>
    </div>
    <div class="user-box">
      <input formControlName="description" type="text" />
      <label>Opis</label>
    </div>

    <button type="button" class="collapsible" (click)="toggle()">Unesite podatke o piscu</button>
    <div class="content" [ngClass]="{'active': isCollapse}" >
      <div class="user-box">
        <input formControlName="writerName" type="text" />
        <label>Ime</label>
      </div>
      <div class="user-box">
        <input formControlName="writerSurname" type="text" />
        <label>Prezime</label>
      </div>
      <div class="user-box">
        <input formControlName="writerDate" type="text" />
        <label>Datum</label>
      </div>
    </div>


    <div class="user-box">
      <input formControlName="type" type="text" />
      <label>Type</label>
    </div>
    <button type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Potvrdi
    </button>
  </form>
</div>
