<div class="grid">
  <div class="grid__1">
    <img src="../../../assets/img/acting.png">
  </div>
  <div class="grid__2">
    <img src="../../../assets/img/masks.png">
  </div>
  <div class="grid__3">
    <img src="../../../assets/img/theater (1).png">
  </div>
  <div class="grid__4">
    <img src="../../../assets/img/theater (2).png">
  </div>
  <div class="grid__5">
    <img src="../../../assets/img/theater (3).png">
  </div>
  <div class="grid__6">
    <img src="../../../assets/img/theater (4).png">
  </div>
  <div class="grid__7">
    <img src="../../../assets/img/theater-masks (1).png">
  </div>
  <div class="grid__8">
    <img src="../../../assets/img/theater-masks.png">
  </div>
  <div class="grid__9">
    <img src="../../../assets/img/theater.png">
  </div>
</div>
